POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=dentalsystem
PORT=3000
JWT_SECRET=asdkaxnuasd
JWT_EXPIRATION_TIME=3600
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=AKIAZ52X6HRWKSXLHJGC
AWS_SECRET_ACCESS_KEY=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
AWS_PUBLIC_BUCKET_NAME=dentalnest-public-bucket